.list-container1 {
  height: 200px;
  overflow: auto;
}

.list-container2 {
  height: 200px;
  overflow: auto;
}

.list-wrapper > * {
  margin-bottom: 50px;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgray;
  border-radius: 3px;
  color: white;
}
